/* CSS Document */
/* Containers*/
.left-column {width:200px; float: left;  /*border-style:groove; */ }
.right-column {	float:right; width:220px; /* border-style:groove; */}
div { /* border-style:groove; */}
.center-column { margin-left:220px; margin-right:225px;  /*border-style:groove; */}
.header {height:85px; 	border-style:groove; clear:both; margin-bottom:5px; }
.bottom { padding:10px; border-style:groove; clear:both; margin-top:5px}
.document {}

.menu-left {
	float:left;
	height: 400px;
	width:200px;
	padding:5px;
	border-style:groove;
	border-radius:10px;
	clear:left;
	margin-right:5px;
	
}

.profile-auth {
	width:200px;
	padding:5px;
	border-style:groove;
	border-radius:10px;
	clear:right;
	margin-left:5px;
	margin-bottom:5px;
}

.right-content{
	width: 200px;
	float:right;
}
.message {
	padding:0px;
	border-style:groove;
}

.login_window {
	float:left
	text-align:center;
	height: 150px;
	width:300px;
	padding:10px;
	border-style:groove;
	border-radius:10px;
	clear:right;
	margin:10px
}
.button {
	width: 17em;
	height: 3em;
}
.post-header
{
	padding-left:5px;
	padding-top:5px;
	padding-right:5px;
	margin-bottom:10px;
}

.post-header-left
{
	float:left;
	width:47%;
	background-color:#6FC;
	padding-left:5px;
	padding-top:5px;
	padding-right:5px;
	text-align:left;
	margin-bottom:10px;
}

.post-header-right
{
	width:50%;
	float:left;
	text-align:right;
	background-color:#6FC;
	padding-left:5px;
	padding-top:5px;
	padding-right:5px;
	margin-bottom:10px;
}



.post-content
{
	padding:15px;
}

.topic
{
	padding:0px;
	border-style:groove;
}

.branch
{
	padding:0px;
	border-style:groove;
}

.textarea
{
	resize:none;
}