<?
//this is forum configuration file
//this is php include file, so syntax is php

//is acces allowed to guest
define('guest_access', true);

define('css','/CSS/Default.css');

define(table_util_path, "/tools/table_util/");

//oracle constants
define ('username','melhior');
define ('password','pass');
define ('db','10.108.1.214/XE');
define ('ora_home','C:\oraclexe\app\oracle\product\10.2.0\server');
define ('tns_admin','C:\oraclexe\app\oracle\product\10.2.0\server\NETWORK\ADMIN');
?>